
/* navigation */
ul li {
    display:inline;
    border-left-style:solid;
    border-right-style:solid;
    border-left-color:white;
    border-right-color:white;
}

header ul li {
    float: left;
    padding: 2px;
    width: 150px;
    font-size:24px;
    margin-left: auto ;
    margin-right: auto ;
}
header ul{
    height:30px;
    list-style-type: none; /*to remove bullets*/
    text-align: center;
    margin: 0 auto;
    display:table;
    overflow: hidden;
}

.navLink { 
    text-decoration : none; 
    font-size:15px;
    color:black;
    
}
.navLink:hover {
    color:white;

}
header {
    background-color:white;
    font-family:navFont;

}

body{
    background:#f2f2f2; 
}

.main_heading{
    text-align:center;
    font-size:50px
}




.newspaper
{
    -moz-column-count:3; /* Firefox */
    -webkit-column-count:3; /* Safari and Chrome */
    column-count:3;
    margin-top:10px;
    font-family:newsPaperFont;
}

/* font faces */
@font-face {
    font-family:navFont;
    src: url('fonts/CherrySwash-Regular.otf');
}

@font-face {
    font-family:newsPaperFont;
    src: url('fonts/SpecialElite.ttf');
}




