
body{
    background:#f2f2f2; 
}

.content{
    margin-left:2%;
}
header ul{
    height:30px;
    list-style-type: none; /*to remove bullets*/
    text-align: center;
    margin: 0 auto;
    display:table;
    overflow: hidden;
    background-color:#323232;
}

header ul li {
    float: left;
    padding: 2px;
    width: 150px;
    font-size:24px;
    margin-left: auto ;
    margin-right: auto ;
}

header{margin-bottom:20px;}

a{text-decoration:none}
a:link {color:#ffffff;}      /* unvisited link */
a:hover {color:#828282;}  /* mouse over link */

.story{
    padding-bottom:2%;
    border-bottom:2px dashed rgb(216, 216, 216);
}

.first_column{
    float:left;
    width:50%;
    border: 2px solid rgb(206, 206, 206);
    padding:10px;
}

.second_column{
    float:left;
    width:10%;
    border: 2px solid rgb(206, 206, 206);
    padding:10px;
}
.third_column{
    float:left;
    width:30%;
    border: 2px solid rgb(206, 206, 206);
    padding:10px;
}

.main_heading{
    text-align:center;
    font-size:50px
}

.main_img{
    float:right;
    position: relative;
    width: 50%;
    margin-left:2%;;
}

.main_p
{
    display:inline;
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari and Chrome */
}
